In [1]:
import pandas as pd
import numpy as np

In [2]:
police_df = pd.read_csv("police_deaths_USA.csv")

In [3]:
k9_df = pd.read_csv("k9_deaths_USA.csv")

In [4]:
correction_data_points = k9_df[k9_df['Rank'] == 'K9 Officer']

In [5]:
correction_data_points.index

Int64Index([316, 323, 433], dtype='int64')

In [6]:
rows_to_remove = correction_data_points.index

In [7]:
for i in rows_to_remove:
    k9_df = k9_df.drop(labels=i, axis=0)

In [8]:
correction_data_points = correction_data_points.drop(['Breed', 'Gender'], axis=1)

In [9]:
correction_data_points

,Rank,Name,Age,End_Of_Watch,Day_Of_Week,Cause,Department,State,Tour,Weapon,Offender,Summary
316,K9 Officer,Ryan Patrick Copeland,33.0,2015-11-23,Monday,Automobile crash,"McFarland Police Department, Wisconsin",Wisconsin,3 years,NaN,NaN,K9 Officer Ryan Copeland was killed in a vehic...
323,K9 Officer,Timothy James Brackeen,38.0,2016-09-12,Monday,Gunfire,"Shelby Police Department, North Carolina",North Carolina,12 years,Gun; Unknown type,Sentenced to life,Police Officer Tim Brackeen succumbed to gunsh...
433,K9 Officer,Jordan Harris Sheldon,32.0,2019-05-04,Saturday,Gunfire,"Mooresville Police Department, North Carolina",North Carolina,6 years,Gun; Unknown type,Committed suicide,Police Officer Jordan Sheldon was shot and kil...

In [10]:
badge_column = ['K8435', '763', np.nan]

In [11]:
correction_data_points['Badge'] = badge_column

In [12]:
human_columns_order_list = ['Rank', 'Name', 'Age', 'End_Of_Watch', 'Day_Of_Week', 'Cause', 'Department', 'State', 
                            'Tour', 'Badge', 'Weapon', 'Offender', 'Summary']

In [13]:
correction_data_points = correction_data_points.reindex(columns=human_columns_order_list)

In [14]:
correction_data_points

,Rank,Name,Age,End_Of_Watch,Day_Of_Week,Cause,Department,State,Tour,Badge,Weapon,Offender,Summary
316,K9 Officer,Ryan Patrick Copeland,33.0,2015-11-23,Monday,Automobile crash,"McFarland Police Department, Wisconsin",Wisconsin,3 years,K8435,NaN,NaN,K9 Officer Ryan Copeland was killed in a vehic...
323,K9 Officer,Timothy James Brackeen,38.0,2016-09-12,Monday,Gunfire,"Shelby Police Department, North Carolina",North Carolina,12 years,763,Gun; Unknown type,Sentenced to life,Police Officer Tim Brackeen succumbed to gunsh...
433,K9 Officer,Jordan Harris Sheldon,32.0,2019-05-04,Saturday,Gunfire,"Mooresville Police Department, North Carolina",North Carolina,6 years,NaN,Gun; Unknown type,Committed suicide,Police Officer Jordan Sheldon was shot and kil...

In [15]:
police_df = pd.concat([police_df, correction_data_points], ignore_index=True)

In [16]:
police_df.tail(5)

,Rank,Name,Age,End_Of_Watch,Day_Of_Week,Cause,Department,State,Tour,Badge,Weapon,Offender,Summary
25618,Police Officer,Donald Sahota,52.0,2022-01-29,Saturday,Gunfire (Inadvertent),"Vancouver Police Department, Washington",Washington,"27 years, 6 months",1531,Handgun,Arrested,Police Officer Donald Sahota was inadvertently...
25619,Deputy Sheriff,Ned P. Byrd,48.0,2022-08-11,Thursday,Gunfire,"Wake County Sheriff's Office, North Carolina",North Carolina,13 years,397,Gun; Unknown type,In custody,Deputy Sheriff Ned Byrd was shot and killed wh...
25620,K9 Officer,Ryan Patrick Copeland,33.0,2015-11-23,Monday,Automobile crash,"McFarland Police Department, Wisconsin",Wisconsin,3 years,K8435,NaN,NaN,K9 Officer Ryan Copeland was killed in a vehic...
25621,K9 Officer,Timothy James Brackeen,38.0,2016-09-12,Monday,Gunfire,"Shelby Police Department, North Carolina",North Carolina,12 years,763,Gun; Unknown type,Sentenced to life,Police Officer Tim Brackeen succumbed to gunsh...
25622,K9 Officer,Jordan Harris Sheldon,32.0,2019-05-04,Saturday,Gunfire,"Mooresville Police Department, North Carolina",North Carolina,6 years,NaN,Gun; Unknown type,Committed suicide,Police Officer Jordan Sheldon was shot and kil...

In [17]:
police_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25623 entries, 0 to 25622
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          25623 non-null  object
 1   Name          25623 non-null  object
 2   Age           22946 non-null  float64
 3   End_Of_Watch  25623 non-null  object
 4   Day_Of_Week   25623 non-null  object
 5   Cause         25622 non-null  object
 6   Department    25623 non-null  object
 7   State         25623 non-null  object
 8   Tour          17417 non-null  object
 9   Badge         7482 non-null   object
 10  Weapon        16263 non-null  object
 11  Offender      13803 non-null  object
 12  Summary       25623 non-null  object
dtypes: float64(1), object(12)
memory usage: 2.5+ MB

In [18]:
k9_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 505 entries, 0 to 507
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          505 non-null    object
 1   Name          505 non-null    object
 2   Breed         504 non-null    object
 3   Gender        446 non-null    object
 4   Age           340 non-null    float64
 5   End_Of_Watch  505 non-null    object
 6   Day_Of_Week   505 non-null    object
 7   Cause         505 non-null    object
 8   Department    505 non-null    object
 9   State         505 non-null    object
 10  Tour          229 non-null    object
 11  Weapon        230 non-null    object
 12  Offender      172 non-null    object
 13  Summary       505 non-null    object
dtypes: float64(1), object(13)
memory usage: 59.2+ KB

In [19]:
police_df.to_csv('final_police_deaths_USA.csv',index=False)
k9_df.to_csv('final_k9_deaths_USA.csv',index=False)